# flyctl launch added from .gitignore
**/__pycache__
**/*.pyc
**/venv
**/node_modules
**/.env

# flyctl launch added from backend/venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
backend/venv/**/*
fly.toml
